<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12">
      <div class="page-header mb-4">
        <div class="media">
          <img
            alt="Image"
            src="../../assets/dependencies/img/avatar-male-4.jpg"
            class="avatar avatar-lg mt-1"
          />
          <div class="media-body ml-3">
            <h1 class="mb-0">Offres de Protech</h1>
            <p class="lead">
              En dessous vous avez la liste de tous nos offres.
            </p>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#teams"
            role="tab"
            aria-controls="teams"
            aria-selected="true"
            >Nos offres</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="teams"
          role="tabpanel"
          aria-labelledby="teams-tab"
          data-filter-list="content-list-body"
        >
          <div class="row content-list-head">
            <form class="col-md-auto">
              <div class="input-group input-group-round">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">filter_list</i>
                  </span>
                </div>
                <input
                  type="search"
                  class="form-control filter-list-input"
                  placeholder="Filtrer les offres"
                  aria-label="Filter teams"
                  aria-describedby="filter-teams"
                />
              </div>
            </form>
          </div>
          <!--end of content list head-->
          <div class="content-list-body row">
            <div class="col-md-4">
              <div class="card card-team">
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button
                      class="btn-options"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Manage</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="#"
                        >Leave Team</a
                      >
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="#">
                      <h5 data-filter-by="text">Offre TESIA</h5>
                    </a>
                    <span>10 projets, 25000 FCFA</span>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="Kenny">
                        <img
                          alt="Kenny Tran"
                          class="avatar"
                          src="../../assets/dependencies/img/avatar-male-6.jpg"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-team">
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button
                      class="btn-options"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Manage</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="#"
                        >Leave Team</a
                      >
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="#">
                      <h5 data-filter-by="text">Offre LIKEE</h5>
                    </a>
                    <span>30 projets, 60000 FCFA</span>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="Kenny">
                        <img
                          alt="Kenny Tran"
                          class="avatar"
                          src="../../assets/dependencies/img/avatar-male-6.jpg"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-team">
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button
                      class="btn-options"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Manage</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="#"
                        >Leave Team</a
                      >
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="#">
                      <h5 data-filter-by="text">Offre LOTUS</h5>
                    </a>
                    <span>50 projets, 80000 FCFA</span>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="Kenny">
                        <img
                          alt="Kenny Tran"
                          class="avatar"
                          src="../../assets/dependencies/img/avatar-male-6.jpg"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-team">
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button
                      class="btn-options"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Manage</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="#"
                        >Leave Team</a
                      >
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="#">
                      <h5 data-filter-by="text">Offre WHAOO</h5>
                    </a>
                    <span>100 projets, 150000 FCFA</span>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="Kenny">
                        <img
                          alt="Kenny Tran"
                          class="avatar"
                          src="../../assets/dependencies/img/avatar-male-6.jpg"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-team">
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button
                      class="btn-options"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Manage</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="#"
                        >Leave Team</a
                      >
                    </div>
                  </div>
                  <div class="card-title">
                    <a href="#">
                      <h5 data-filter-by="text">Offre VIP</h5>
                    </a>
                    <span>Projets illimités, 1000000 FCFA</span>
                  </div>
                  <ul class="avatars">
                    <li>
                      <a href="#" data-toggle="tooltip" title="Kenny">
                        <img
                          alt="Kenny Tran"
                          class="avatar"
                          src="../../assets/dependencies/img/avatar-male-6.jpg"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end of content-list-body-->
        </div>
        <!--end of tab-->
      </div>
    </div>
  </div>
</div>
