<div class="container">
  <div class="row justify-content-center" *ngFor="let p of projet">
    <div class="col-xl-12 col-lg-12" *ngIf="p.id == ids">
      <div class="page-header">
        <h1>{{ p.nom }}</h1>
      </div>
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#task"
            role="tab"
            aria-controls="task"
            aria-selected="true"
            >Tout ce qu'il faut savoir</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="task"
          role="tabpanel"
          aria-labelledby="task-tab"
        >
          <div class="content-list" data-filter-list="content-list-body">
            <!--end of content list head-->
            <div class="content-list-body">
              <div class="card card-note">
                <div class="card-header">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h6 class="mb-0" data-filter-by="text">
                        Description complète
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="card-body" data-filter-by="text">
                  <p>
                    {{ p.description }}
                  </p>
                </div>
              </div>

              <div class="card card-note">
                <div class="card-header">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h6 class="mb-0" data-filter-by="text">
                        Compétences recherchées
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="card-body" data-filter-by="text">
                  <ul>
                    <li>
                      Mauris non ex fermentum, viverra ligula vulputate,
                      convallis turpis.
                    </li>
                    <li>
                      Integer in metus vel est blandit faucibus bibendum nec
                      tellus.
                    </li>
                    <li>
                      Ut accumsan elit ornare, laoreet tortor at, ornare neque.
                    </li>
                    <li>
                      Mauris non ex fermentum, viverra ligula vulputate,
                      convallis turpis.
                    </li>
                    <li>
                      Integer in metus vel est blandit faucibus bibendum nec
                      tellus.
                    </li>
                    <li>
                      Ut accumsan elit ornare, laoreet tortor at, ornare neque.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <button
            [disabled]="postuleDeja"
            (click)="postuler(p.id)"
            class="btn btn-primary"
          >
            <p>Postuler +</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
