<div class="layout layout-nav-top">
  <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
      <img alt="Pipeline" src="../../assets/dependencies/img/logo.svg" />
    </a>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbar-collapse"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/consultant/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/consultant/autres-projets">Autres Projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/consultant/home">Mes projets</a>
        </li>
      </ul>
      <div class="d-lg-flex align-items-center">
        <form class="form-inline my-lg-0 my-2">
          <div class="input-group input-group-dark input-group-round">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">search</i>
              </span>
            </div>
            <input
              type="search"
              class="form-control form-control-dark"
              placeholder="Search"
              aria-label="Search app"
              aria-describedby="search-app"
            />
          </div>
        </form>
        <div class="d-none d-lg-block">
          <div class="dropdown">
            <a
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                alt="Image"
                src="../../assets/dependencies/img/avatar-male-4.jpg"
                class="avatar"
              />
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a routerLink="/consultant/profile" class="dropdown-item"
                >Profile</a
              >
              <a (click)="onSignOut()" class="dropdown-item">Se deconnecter </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="breadcrumb-bar navbar bg-white sticky-top">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/consultant">Consultant</a>
          </li>
          <!-- <li class="breadcrumb-item active" aria-current="page">{option}</li> -->
        </ol>
      </nav>

      <div class="dropdown">
        <button
          class="btn btn-round"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="material-icons">settings</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/consultant/profile"
            >Mon compte</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/auth/signup-const"
            >S'inscrire</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/auth/login">Se connecter</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" (click)="onSignOut()"
            >Se déconnecter</a
          >
        </div>
      </div>
    </div>

    <!-- <div class="container">
            <div class="row justify-content-center"> -->
    <router-outlet></router-outlet>
    <!-- </div>
        </div> -->
  </div>
</div>
