<div class="main-container fullscreen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7">
        <h1 class="h2 text-center">Creer un compte</h1>
        <p class="lead text-center">Creer un compte en tant que consultant</p>
        <hr />
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <!-- Nom -->
          <div class="form-group">
            <label for="nomComplet">Nom complet</label>
            <input class="form-control" formControlName="nomComplet" type="text" placeholder="Nom et prénoms" id="nomComplet" />
          </div>

          <!-- email -->
          <div class="form-group">
            <label for="email">Adresse Email</label>
            <input class="form-control" formControlName="email" type="email" placeholder="Adresse email" id="email"/>
          </div>
          <!-- contact -->
          <div class="form-group">
            <label for="telephone">Numero de téléphone</label>
            <input class="form-control" formControlName="telephone" type="text" placeholder="Numero de téléphone" id="telephone" />
          </div>

          <!-- mot de passe -->
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input class="form-control" formControlName="password" type="password" placeholder="Password" id="password"/>
            <div class="text-left">
              <small>Votre mot de passe doit avoir au moins 8 caractères</small>
            </div>
          </div>

          <!-- Competences -->
          <div class="form-group">
            <label for="competences">Vos compétences</label>
            <textarea class="form-control" formControlName="competences" rows="3" placeholder="Entrez vos Competences separés d'une ',' " id="competences"></textarea>
          </div>

          <button
              class="btn btn-lg btn-block btn-primary"
              role="button"
              [disabled]="signupForm.invalid"
              type="submit"
          >
            Creer le compte
          </button>
          <small
            >En cliquant vous acceptez nos
            <a href="#">conditions et politiques</a>
          </small>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
      </div>
    </div>

    <!-- <div class="container-fluid">
      <div class="row" *ngIf="userList.length">
        <div class="col-md-3" *ngFor="let user of userList">
          <div class="card">
            <div *ngIf="user.id"> {{ user.id }} </div>
            <div *ngIf="user.nomComplet"> {{ user.nomComplet }} </div>
            <div *ngIf="user.telephone"> {{ user.telephone }} </div>
            <div *ngIf="user.competences"> {{ user.competences }} </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
