<div class="container" >
  <div class="row justify-content-center" *ngFor="let p of projet">
    <div class="col-xl-12 col-lg-12" *ngIf="p.id == ids">
      <div class="page-header mb-4">
        <h1>{{p.nom}}</h1>
        <p class="lead">{{p.description}}</p>
        <div class="d-flex align-items-center">
          <ul class="avatars">
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Claire Connors"
              >
                <img
                  alt="Claire Connors"
                  class="avatar"
                  src="assets/dependencies/img/avatar-female-1.jpg"
                />
              </a>
            </li>
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Marcus Simmons"
              >
                <img
                  alt="Marcus Simmons"
                  class="avatar"
                  src="assets/dependencies/img/avatar-male-1.jpg"
                />
              </a>
            </li>
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Peggy Brown"
              >
                <img
                  alt="Peggy Brown"
                  class="avatar"
                  src="assets/dependencies/img/avatar-female-2.jpg"
                />
              </a>
            </li>
          </ul>
        </div>
        <div>
          <div class="progress">
            <div class="progress-bar bg-success" style="width: 25%"></div>
          </div>
          <div class="d-flex justify-content-between text-small">
            <div class="d-flex align-items-center">
              <i class="material-icons">playlist_add_check</i>
              <span>3/12</span>
            </div>
            <span>Délai restant: {{p.dateFinPrevue }}</span>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#tasks"
            role="tab"
            aria-controls="tasks"
            aria-selected="true"
            >Taches</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#files"
            role="tab"
            aria-controls="files"
            aria-selected="false"
            >Fichiers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#activity"
            role="tab"
            aria-controls="activity"
            aria-selected="false"
            >Historique</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="tasks"
          role="tabpanel"
          aria-labelledby="tasks-tab"
          data-filter-list="card-list-body"
        >
          <div class="row content-list-head">
            <div class="col-auto">
              <h3>Taches</h3>
            </div>
            <form class="col-md-auto">
              <div class="input-group input-group-round">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">filter_list</i>
                  </span>
                </div>
                <input
                  type="search"
                  class="form-control filter-list-input"
                  placeholder="Filtrer taches"
                  aria-label="Filter Tasks"
                  aria-describedby="filter-tasks"
                />
              </div>
            </form>
          </div>
          <!--end of content list head-->
          <div class="content-list-body">
            <div class="card-list">
              <div class="card-list-body">
                <div class="card card-task">
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <div class="card-body">
                    <div class="card-title">
                      <a href="#">
                        <h6 data-filter-by="text">
                          Présenter le produit aux clients
                        </h6>
                      </a>
                      <span class="text-small">16 jours restants</span>
                    </div>
                    <div class="card-meta">
                      <ul class="avatars">
                        <li>
                          <a href="#" data-toggle="tooltip" title="Kenny">
                            <img
                              alt="Kenny Tran"
                              class="avatar"
                              src="assets/dependencies/img/avatar-male-6.jpg"
                            />
                          </a>
                        </li>
                      </ul>

                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>Analyse</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card card-task">
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <div class="card-body">
                    <div class="card-title">
                      <a href="#">
                        <h6 data-filter-by="text">
                          Présenter le produit aux clients
                        </h6>
                      </a>
                      <span class="text-small">16 jours restants</span>
                    </div>
                    <div class="card-meta">
                      <ul class="avatars">
                        <li>
                          <a href="#" data-toggle="tooltip" title="Kenny">
                            <img
                              alt="Kenny Tran"
                              class="avatar"
                              src="assets/dependencies/img/avatar-male-6.jpg"
                            />
                          </a>
                        </li>
                      </ul>

                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>Analyse</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card card-task">
                  <div class="progress">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <div class="card-body">
                    <div class="card-title">
                      <a href="#">
                        <h6 data-filter-by="text">
                          Présenter le produit aux clients
                        </h6>
                      </a>
                      <span class="text-small">16 jours restants</span>
                    </div>
                    <div class="card-meta">
                      <ul class="avatars">
                        <li>
                          <a href="#" data-toggle="tooltip" title="Kenny">
                            <img
                              alt="Kenny Tran"
                              class="avatar"
                              src="assets/dependencies/img/avatar-male-6.jpg"
                            />
                          </a>
                        </li>
                      </ul>

                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>Analyse</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end of content list body-->
          </div>
          <!--end of content list-->
        </div>
        <div
          class="tab-pane fade"
          id="files"
          role="tabpanel"
          aria-labelledby="files-tab"
          data-filter-list="dropzone-previews"
        >
          <div class="content-list">
            <div class="row content-list-head">
              <div class="col-auto">
                <h3>Fichiers</h3>
              </div>
              <form class="col-md-auto">
                <div class="input-group input-group-round">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">filter_list</i>
                    </span>
                  </div>
                  <input
                    type="search"
                    class="form-control filter-list-input"
                    placeholder="Filtrer fichiers"
                    aria-label="Filter Tasks"
                    aria-describedby="filter-tasks"
                  />
                </div>
              </form>
            </div>
            <!--end of content list head-->
            <div class="content-list-body row">
              <div class="col">
                <div class="d-none dz-template">
                  <li class="list-group-item dz-preview dz-file-preview">
                    <div class="media align-items-center dz-details">
                      <ul class="avatars">
                        <li>
                          <div class="avatar bg-primary dz-file-representation">
                            <img class="avatar" data-dz-thumbnail />
                            <i class="material-icons">attach_file</i>
                          </div>
                        </li>
                        <li>
                          <img
                            alt="David Whittaker"
                            src="assets/dependencies/img/avatar-male-4.jpg"
                            class="avatar"
                            data-title="David Whittaker"
                            data-toggle="tooltip"
                          />
                        </li>
                      </ul>
                      <div
                        class="media-body d-flex justify-content-between align-items-center"
                      >
                        <div class="dz-file-details">
                          <a href="#" class="dz-filename">
                            <span data-dz-name></span>
                          </a>
                          <br />
                          <span class="text-small dz-size" data-dz-size></span>
                        </div>
                        <img
                          alt="Loader"
                          src="assets/img/loader.svg"
                          class="dz-loading"
                        />
                        <div class="dropdown">
                          <button
                            class="btn-options"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="material-icons">more_vert</i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Download</a>
                            <a class="dropdown-item" href="#">Share</a>
                            <div class="dropdown-divider"></div>
                            <a
                              class="dropdown-item text-danger"
                              href="#"
                              data-dz-remove
                              >Delete</a
                            >
                          </div>
                        </div>
                        <button
                          class="btn btn-danger btn-sm dz-remove"
                          data-dz-remove
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                    <div class="progress dz-progress">
                      <div
                        class="progress-bar dz-upload"
                        data-dz-uploadprogress
                      ></div>
                    </div>
                  </li>
                </div>
                <ul
                  class="list-group list-group-activity dropzone-previews flex-column-reverse"
                >
                  <li class="list-group-item">
                    <div class="media align-items-center">
                      <ul class="avatars">
                        <li>
                          <div class="avatar bg-primary">
                            <i class="material-icons">insert_drive_file</i>
                          </div>
                        </li>
                        <li>
                          <img
                            alt="Peggy Brown"
                            src="assets/dependencies/img/avatar-female-2.jpg"
                            class="avatar"
                            data-title="Peggy Brown"
                            data-toggle="tooltip"
                            data-filter-by="data-title"
                          />
                        </li>
                      </ul>
                      <div
                        class="media-body d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <a href="#" data-filter-by="text"
                            >Fichier de configuration</a
                          >
                          <br />
                          <span class="text-small" data-filter-by="text"
                            >Taille: 48 kb</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media align-items-center">
                      <ul class="avatars">
                        <li>
                          <div class="avatar bg-primary">
                            <i class="material-icons">insert_drive_file</i>
                          </div>
                        </li>
                        <li>
                          <img
                            alt="Peggy Brown"
                            src="assets/dependencies/img/avatar-female-2.jpg"
                            class="avatar"
                            data-title="Peggy Brown"
                            data-toggle="tooltip"
                            data-filter-by="data-title"
                          />
                        </li>
                      </ul>
                      <div
                        class="media-body d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <a href="#" data-filter-by="text"
                            >Fichier de configuration</a
                          >
                          <br />
                          <span class="text-small" data-filter-by="text"
                            >Taille: 48 kb</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media align-items-center">
                      <ul class="avatars">
                        <li>
                          <div class="avatar bg-primary">
                            <i class="material-icons">insert_drive_file</i>
                          </div>
                        </li>
                        <li>
                          <img
                            alt="Peggy Brown"
                            src="assets/dependencies/img/avatar-female-2.jpg"
                            class="avatar"
                            data-title="Peggy Brown"
                            data-toggle="tooltip"
                            data-filter-by="data-title"
                          />
                        </li>
                      </ul>
                      <div
                        class="media-body d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <a href="#" data-filter-by="text"
                            >Fichier de configuration</a
                          >
                          <br />
                          <span class="text-small" data-filter-by="text"
                            >Taille: 48 kb</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media align-items-center">
                      <ul class="avatars">
                        <li>
                          <div class="avatar bg-primary">
                            <i class="material-icons">insert_drive_file</i>
                          </div>
                        </li>
                        <li>
                          <img
                            alt="Peggy Brown"
                            src="assets/dependencies/img/avatar-female-2.jpg"
                            class="avatar"
                            data-title="Peggy Brown"
                            data-toggle="tooltip"
                            data-filter-by="data-title"
                          />
                        </li>
                      </ul>
                      <div
                        class="media-body d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <a href="#" data-filter-by="text"
                            >Fichier de configuration</a
                          >
                          <br />
                          <span class="text-small" data-filter-by="text"
                            >Taille: 48 kb</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media align-items-center">
                      <ul class="avatars">
                        <li>
                          <div class="avatar bg-primary">
                            <i class="material-icons">insert_drive_file</i>
                          </div>
                        </li>
                        <li>
                          <img
                            alt="Peggy Brown"
                            src="assets/dependencies/img/avatar-female-2.jpg"
                            class="avatar"
                            data-title="Peggy Brown"
                            data-toggle="tooltip"
                            data-filter-by="data-title"
                          />
                        </li>
                      </ul>
                      <div
                        class="media-body d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <a href="#" data-filter-by="text"
                            >Fichier de configuration</a
                          >
                          <br />
                          <span class="text-small" data-filter-by="text"
                            >Taille: 48 kb</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--end of content list-->
        </div>
        <div
          class="tab-pane fade"
          id="activity"
          role="tabpanel"
          aria-labelledby="activity-tab"
          data-filter-list="list-group-activity"
        >
          <div class="content-list">
            <div class="row content-list-head">
              <div class="col-auto">
                <h3>Activités</h3>
              </div>
              <form class="col-md-auto">
                <div class="input-group input-group-round">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">filter_list</i>
                    </span>
                  </div>
                  <input
                    type="search"
                    class="form-control filter-list-input"
                    placeholder="Filtrer historique"
                    aria-label="Filter activity"
                    aria-describedby="filter-tasks"
                  />
                </div>
              </form>
            </div>
            <!--end of content list head-->
            <div class="content-list-body">
              <ol class="list-group list-group-activity">
                <li class="list-group-item">
                  <div class="media align-items-center">
                    <ul class="avatars">
                      <li>
                        <div class="avatar bg-primary">
                          <i class="material-icons">playlist_add_check</i>
                        </div>
                      </li>
                      <li>
                        <img
                          alt="Claire"
                          src="assets/dependencies/img/avatar-female-1.jpg"
                          class="avatar"
                          data-filter-by="alt"
                        />
                      </li>
                    </ul>
                    <div class="media-body">
                      <div>
                        <span class="h6" data-filter-by="text">Claire</span>
                        <span data-filter-by="text">
                          a terminé la tâche "Présenter aux clients"</span
                        >
                      </div>
                      <span class="text-small" data-filter-by="text"
                        ><a href="#">Aujourd'hui à 8h15min</a></span
                      >
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
          <!--end of content list-->
        </div>
      </div>
    </div>
  </div>
</div>
