<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12">
      <div class="page-header mb-4">
        <div class="media">
          <img
            alt="Image"
            src="../../assets/dependencies/img/avatar-male-4.jpg"
            class="avatar avatar-lg mt-1"
          />
          <div class="media-body ml-3">
            <h1 class="mb-0">
              Protech, la plateforme de mise en relation des acteurs de projet
            </h1>
            <p class="lead">
              En dessous vous avez la liste de tous les projets. Veuillez les
              parcourir et faites vos choix selon vos compétences. La plateforme
              a besoin de vous
            </p>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#teams"
            role="tab"
            aria-controls="teams"
            aria-selected="true"
            >Catégories de projets</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="teams"
          role="tabpanel"
          aria-labelledby="teams-tab"
          data-filter-list="content-list-body"
        >
          <div class="row content-list-head">
            <form class="col-md-auto">
              <div class="input-group input-group-round">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">filter_list</i>
                  </span>
                </div>
                <input
                  type="search"
                  class="form-control filter-list-input"
                  placeholder="Filtrer les catégories"
                  aria-label="Filter teams"
                  aria-describedby="filter-teams"
                />
              </div>
            </form>
          </div>
          <!--end of content list head-->

          <div class="content-list-body row">
            <!-- ======== -->

            <div class="col-lg-4">
              <div class="card card-project" *ngFor="let cate of categories">
                <div class="card-body">
                  <div class="card-title">
                    <a routerLink="/list-projet/{{cate.libelle}}/{{cate.id}}">
                      <h5 data-filter-by="text">{{cate.libelle}}</h5>
                    </a>
                  </div>
                  <div class="card-meta d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <span class="text-small">5 projets</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ======== -->
            <!--end of content-list-body-->
          </div>

          <br />
          <hr />
          <!--end of tab-->
        </div>
      </div>
    </div>
  </div>
</div>
